<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fhoto Fith Friends</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <div class="container">
        <h1 id="title">Fhoto Fith Friends</h1>
        <div id="home-screen">
        	<video id="video" width="640" height="480" autoplay></video>
			<button id="snap" class="btn btn-primary">Snap Photo</button>
			<canvas id="canvas" width="640" height="480"></canvas>
        </div>
    </div>
    <script src="js/index.js"></script>
</body>

</html>