<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fhoto Fith Friends</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
<h1>Welcome to Fhoto Fith Friends</h1>
    <div class="container">
        <form>
        <input type="text" placeholder="User Name">
        <input type="text" placeholder="Password">
        <button type="submit" >Login</button>
        </form>
        </div>

    
</body>

</html>